html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  background: #f6f4f4;
}

h4 {
  font-size: 20px;
  margin-bottom: 0.5em;
}

h5 {
  color: #db4d3f;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 24px;
}

pre {
  margin: 0 0 25px;
  padding: 10px 20px;
  background: #333;
  border: 2px solid #db4d3f;
  transition: all 0.2s ease;
  display: block;
  border-radius: 5px;
  line-height: 1.8em;
  font-family: monospace;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;
}

input {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #333;
  border: 2px solid #db4d3f;
  transition: all 0.2s ease;
  display: block;
  border-radius: 5px;
  line-height: 1.8em;
  font-family: monospace;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 15px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: minmax(500px, auto);
}

@media screen and (max-width: 850px) {
  main {
    grid-template-columns: 1fr;
  }
}

section {
  display: block;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-description {
  margin: 0 15px;
  font-style: italic;
}

.logo {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  align-items: flex-end;
  margin: 15px;
}

.logo-re-container {
  position: relative;
  background: #db4d3f;
  color: white;
  height: 100px;
  width: 100px;
}

.logo-re {
  position: absolute;
  bottom: 0px;
  right: 3px;
}

.github {
  position: absolute;
  top: 15px;
  right: 15px;
}

.suggestion-header {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
}

.suggestion-name {
  color: #db4d3f;
  font-size: 20px;
}

.suggestion-usage {
  margin: 20px 0;
}

.suggestion-links {
  margin: 15px 0;
}

.external-link {
  background-color: transparent;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  user-select: none;
  opacity: 0.45;
  color: hsla(0, 0%, 0%, 0.8);
}

.external-link:hover {
  opacity: 1;
}

.external-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s cubic-bezier(0.82, 0, 0.12, 1);
  background-color: hsla(0, 0%, 0%, 0.8);
}

.external-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
